// Local Dream ET Server 版本信息资源 (Copyright (C) 2026 etc)
#include <winver.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,1,1,0
PRODUCTVERSION 1,1,1,0
FILEFLAGSMASK  0x3fL
FILEFLAGS      0x0L
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"   /* 简体中文, Unicode */
        BEGIN
            VALUE "CompanyName",      "ET"
            VALUE "FileDescription",  "Local Dream ET Server"
            VALUE "FileVersion",      "1.1.1.0"
            VALUE "InternalName",     "etserver.exe"
            VALUE "LegalCopyright",   "Copyright (C) 2026 etc"
            VALUE "OriginalFilename", "etserver.exe"
            VALUE "ProductName",      "Local Dream ET Server"
            VALUE "ProductVersion",   "1.1.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
